{{ define "main" }}
    <div class="back-and-meta">
        {{ partial "back_link.html" . }}
        {{ with .Translations }}
        <div class="post-meta">
            {{ range . }}
                <a href="{{ .Permalink }}">{{ .Language.Label }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>

    {{ $title := .Title | default (.Data.Term | lower) }}
    <h1>{{ $title }}</h1>
    {{ $categorySlug := path.Base .RelPermalink }}
    {{ $i18nID := printf "categories.%s" $categorySlug }}
    {{ with i18n $i18nID }}
        <p>{{ . }}</p>
    {{ else }}
        <p><em>No description found for this category.</em></p>
    {{ end }}

    {{ .Content }}
    {{ $posts := where .Data.Pages "Draft" false }}
    {{ if gt (len $posts) 0 }}
        {{ partial "post_list.html" (dict "context" .) }}
    {{ end }}
{{ end }}
